#nav2{
    background-color:#00AEFF;
    margin: 0
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1{
    margin: 0;
    height: 75px;
}
.class{
    margin-left: 12%;
    color: white;
    margin-bottom: 10px;
}
a{
    color: white !important;
    margin-right: 15px;
    text-decoration: none;
}
a:hover {
    color: black;
    transition: all 0.3s ease;
}

a:active{
    border-bottom: 2px solid black;
}
.card{
    margin-bottom: 5%;
    align-content: center;
    align-items: center;
}