*{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}


#firstNav{
	border-right:2px solid #B6B6B6;
}
.nav-btn{
	color: #00AEFF;
	background-color:white;
	border: 1px solid #00AEFF;
	margin: 2px 2px 2px 2px;
	padding: 3px 5px 3px 5px;
}

#secondNav{
	color: #B6B6B6;
}

header{
	border-bottom: 2px solid #B6B6B6;
	background-color: #FFFFFF
}

#personalDetail{
	border-right:2px solid #B6B6B6;
	background: #00AEFF;
	height: 50em;
}

.rounded-circle{
	width: 200px;
}
#dashboard{
	margin-top: 120px;
}

h6{
	text-decoration: underline;
}

a{
	margin-top: 30px;
	display: block;
	text-align: center;
	text-decoration-style: none;
	color: #000000;
}

#classes{
	background-color: #F8F8F8
}

#p1, #p2, #p3{
	font-size: 40px;
	color: #00AEFF;
	text-decoration: underline;
	
}

#box1{
	background-color: white;
	margin: 30px 30px 30px 30px;
	padding: 5px 50px 5px 5px;
	border:1px solid #B6B6B6;
}

.courses{
	border-top: 3px solid #B6B6B6;
	margin-top: 150px;
}
.courses a{
	display: inline-block;
	margin-top: 10px;
	margin-right: 50px;
}
.a2{
	color: #B6B6B6;
}
#a1{
	text-decoration: underline #00AEFF;
}
#logo1{
	width: 50px;
	height: 50px;
}
#span2:after{
	border-bottom: 3px solid #B6B6B6;
	content:"";
	display: block;
	margin: 0 auto;
	width: 20rem;
	padding-top: 5px;
}
#span2{
	font-size: 10px;
	margin-bottom: 50px;
}
.btn{
	background-color: #00AEFF;
	color: black;
	display: inline;
}
