* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    color: #00AEFF;
    border: 0 none;
}

.container {
    position: relative;
}

.container:after {
    content: " ";
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}

.main-color {
    color: #00AEFF;
}

li {
    list-style-type: none;
}

body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

::-webkit-input-placeholder {
    color: #00AEFF
}

:-ms-input-placeholder {
    color: #00AEFF
}

::placeholder {
    color: #00AEFF
}

p,
h1,
img,
button {
    margin-bottom: 24px;
}

a {
    color: #00AEFF;
}

hr {
    margin: 1.5rem auto;
    position: relative;
    overflow: visible;
    border: 1px solid #00AEFF;
}

hr:before {
    content: "or";
    font-size: 18px;
    padding: 0.5rem;
    line-height: 20px;
    background: white;

    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
}

.signup_login {
    margin: 3rem auto 3rem;
    padding: 1.5rem;
    text-align: center;
}

.signup_login form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.signup_login p {
    color: #777;
}

.signup_login label {
    display: block;
    margin-bottom: 1em;
}

.signup_login input,
.signup_login select,
.signup_login button {
    border: 1px solid #00AEFF;
    font-size: 1.2rem;
    padding: 0.8em 1em 0.5em;

    width: 100%;
}

/* signup_login input,
.signup_login button {
    border: 1px solid #00AEFF;
    font-size: 1.2rem;
    padding: 0.8em 1em 0.5em;

    width: 100%;
} */

#SignUpWithEmail,
#login,
.submit {
    background-color: #00AEFF;
    color: white;
    padding: 0.8em 1em 0.5em;
}

#SignUpWithGoogleEmail img {
    margin: 0;
    vertical-align: top;
    padding-right: 16px;
}

.login-form p {
    text-align: right;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: #eee;
}

#header img {
    margin-bottom: 0;
    height: 40px;
    width: auto;
}

#header form,
.faq-searchform {
    width: 50%;
    position: relative;
}


#header span,
.faq-searchform span {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    color: #777;
}

#header input,
#footer input,
#footer .submit,
.faq-searchform input {
    width: 100%;
    padding: 1rem 1.4rem;
    border: none;
}

.avatar {
    border-radius: 50%;
}

#header input::placeholder,
#footer input::placeholder {
    color: #777;
    display: none;
    width: 30px;
}

.back-nav {
    padding: 2rem 3rem;
    background: #00AEFF;
    color: white;
}


.course-page,
.faq-page {
    width: 80%;
    margin: 4rem auto;
    max-width: 910px;
}

.course-page main,
.course-page aside {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    vertical-align: top;
}

.course-page input[type="file"] {
    margin-bottom: 1.5rem;
}

.courses h2 {
    vertical-align: sub;
    font-weight: normal;
    line-height: 48px;
    cursor: pointer;
}


.courses h2 span {
    padding-left: 3rem;
    font-size: 2.5rem;
    vertical-align: sub;
    display: none;
}

.courses h2:hover {
    color: #00AEFF;
}

.courses h2:hover span {
    display: inline;
}

#footer {
    width: 100%;
    background: #00AEFF;
    color: white;
    padding: 2rem;
    display: inline-block;
    vertical-align: middle;
}

#footer div {
    width: 100%;
    max-width: 380px;
    margin-bottom: 3rem;

}

#footer li {
    display: inline-block;
}

#footer h2 {
    margin-bottom: 1rem;
    font-variant: small-caps;
}

#footer .submit {
    background: black;
}


.faq-page li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-shadow: 0 4px 5px -2px #aaa;
    margin: 1rem 4%;
    padding: 2rem;
}

label {
    width: 100%;
    margin-bottom: 0;
}
.fa, .fd{
padding: 15px;
font-size: 25px !important;
color: #FFFFFF;
text-decoration: none;
}

.fa:hover {
    color: black;
}
.faq-page summary {
    margin-bottom: 0.5rem;
}

.faq-searchform {
    margin: 0 auto;
}


.profile {
    padding: 2rem 1.5rem;
    text-align: center;
    background: #00AEFF;
    color: white;
}

.profile img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.profile li {
    display: inline-block;
    padding: 0 1rem;
}

.profile a {
    color: white;
    text-decoration: none;
}

.profile a:hover {
    color: black;
    text-decoration: underline;
}

.add-course {
    padding: 3rem 1.5rem;
}

.add-course label {
    display: block;
    padding-bottom: 0.5rem;
}

.add-course input,
.add-course select,
.add-course textarea {
    padding: 1rem;
    width: 100%;
}

.add-course label span {
    color: red;
}


@media screen and (min-width: 1000px) {

    #footer {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }

    #footer div {
        margin-bottom: 0;
    }


    .course-page aside {
        max-height: 380px;
        overflow-y: scroll;
    }

    .faq-page li {
        width: 40%;
    }

    .profile {
        width: 30%;
        float: left;
        /* min-height: 100%; */
        position: absolute;
        height: 100%;
    }

    .add-course {
        width: 70%;
        position: relative;
        left: 30%;
    }

    .profile li {
        display: block;
        margin-bottom: 1rem;
    }

    .add-course form {
        width: 80%;
        margin: 3rem auto;
    }

    .add-course label {
        display: inline-block;
        width: 25%;
    }

    .add-course input,
    .add-course select,
    .add-course textarea {
        width: 70%;
        vertical-align: top;
    }
}