// Heading Color
$heading-color: #282828;

// Text Color
$text-color: #6a6a6a;

// Default Background
$bg-default: #ff1662;

// Gray Background
$bg-gray: #edf1f4;

// Primary Color
$pri-color: #ff1662;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #dcdcdc;

// Hover Color
$hover-color: #ff1662;

// Footer Color
$foo-color: #1f1c1c;

// Secondary Color
$sec-color: #404040;